<html>
<head>
<title>近辺のエリア</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/js/inside_polygon.js"></script>
<script type="text/javascript" src="/js/jquery.simplemodal-1.4.1.js"></script>
<script type="text/javascript">
var markerObj;
var mapObj;
var lng;
var lat;
var latlng;
var info_windows = [];
var polygon_areas = [];

var closest_res;
var closest_value;
var dest_point;

var directionsRenderer;
var directionsService
var a_directions = []; // ルート保存配列 
var a_vertex = [];

google.maps.event.addDomListener(window, 'load', function(){
	{% if lat %}
		lat = {{ lat }};
	{% else %}
		lat = 34.97285824647155;
	{% endif %}
	
	{% if lat %}
		lng = {{ lng }};
	{% else %}
		lng = 138.3842183974839;
	{% endif %}
	
	latlng = new google.maps.LatLng(lat, lng);

	var mapOptions = {
		zoom: 14,
		center: latlng,
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		scaleControl: true
	};
	mapObj = new google.maps.Map($("#gmap")[0], mapOptions);

	markerObj = new google.maps.Marker({
		position: latlng,
		draggable: true,
		title: "テストマーカー",
		map: mapObj
	});
	
	{% if areas %}
	{% for area_points in areas %}
	// 作成するポリゴン外枠座標の配列 
	t_area_points = {{ area_points.area }};
	var area_points{{ area_points.key.id }} = [];
	var t_geo_latlng;
	for(var i=0; i<t_area_points.length; i++){
		t_geo_latlng = new google.maps.LatLng(t_area_points[i].lat,t_area_points[i].lng);
		area_points{{ area_points.key.id }}.push(t_geo_latlng);
	}
	//ポリゴンの中心点を求める。
	var t_lat = 0;
	var t_lng = 0;
	for(var i=0; i<t_area_points.length; i++){
		t_lat += t_area_points[i].lat;
		t_lng += t_area_points[i].lng;
	}
	var ave_lat = t_lat / t_area_points.length;
	var ave_lng = t_lng / t_area_points.length;
	polygon_center{{ area_points.key.id }} = new google.maps.LatLng(ave_lat,ave_lng);
	
	// ポリゴンのオプションを設定 
	var polygonOptions{{ area_points.key.id }} = {
		path: area_points{{ area_points.key.id }},
		strokeWeight: 2,
		strokeColor: "#ff0000",
		strokeOpacity: 0.5,
		fillColor: "#ff0000",
		fillOpacity: 0.2
	};
	// ポリゴンを設定
	polygon{{ area_points.key.id }} = new google.maps.Polygon(polygonOptions{{ area_points.key.id }});
	polygon{{ area_points.key.id }}.setMap(mapObj);
	polygon_areas.push(polygon{{ area_points.key.id }});
	
	//エリアの情報ウィンドウを作成。2011/09/04 13:10
	infowindow_html = '{% spaceless %}{{ area_points.comment|safe|urlize|linebreaks }}{% endspaceless %}';
	{% if area_points.map_name_4view %}
	infowindow_html += '<p>[{{ area_points.map_name_4view }}]</p>';
	{% endif %}
	infoWindow{{ area_points.key.id }} = new google.maps.InfoWindow({
		content: infowindow_html,
		disableAutoPan: false
	});

	google.maps.event.addListener(polygon{{ area_points.key.id }}, 'click', function(e){
		// Html文字列を作成。linebreaksbrではエラーになる。2011/09/02 18:45
		//var html = '{% spaceless %}{{ area_points.comment|urlize|linebreaks }}{% endspaceless %}';
		// info Windowを作成
		//var infoWindow{{ area_points.key.id }} = new google.maps.InfoWindow();
		//infoWindow{{ area_points.key.id }}.setContent(html);
		//infoWindow{{ area_points.key.id }}.setPosition(e.latLng);
		mapObj.panTo(e.latLng)
		infoWindow{{ area_points.key.id }}.setPosition(e.latLng);
		infoWindow{{ area_points.key.id }}.open(mapObj);
		info_windows.push(infoWindow{{ area_points.key.id }});
		//alert(infoWindow{{ area_points.key.id }}.getContent())
		//console.dir(e);
	});

	{% endfor %}
	{% else %}
	<!-- データはありません。-->
	{% endif %}
	// マップクリックイベントを追加
	google.maps.event.addListener(mapObj, 'click', function(e){
		// ポジションを変更
		markerObj.position = e.latLng;
		
		// マーカーをセット
		markerObj.setMap(mapObj);
//		$("#lat_lng").text(e.latLng.lat() + ',' + e.latLng.lng());
	});
	// マーカードラッグ中のイベントを追加
	google.maps.event.addListener(markerObj, 'drag', function(e){
//		$("#lat_lng").text(e.latLng.lat() + ',' + e.latLng.lng());
	});
	
	// マーカードラッグエンドのイベントを追加
	google.maps.event.addListener(markerObj, 'dragend', function(e){
		var output_str = e.latLng.lat() + ',' + e.latLng.lng();
		//$("#lat_lng").text(output_str);
//		$("#lat").val(e.latLng.lat());
//		$("#lng").val(e.latLng.lng());
		
		//$("#gmap").load("/list/closed10",{lat: e.latLng.lat(), lng: e.latLng.lng()},
//			function(data){
//				//alert(data);
//			}
//		);
		//ページのリロード。これは確実に動作する。2011/10/01 17:17
		//window.location.href = "/list/closed10?lat=" + e.latLng.lat() + "&lng=" + e.latLng.lng();
		
		//非同期でのテスト。
		$.getJSON("/list/closed10jsonp?lat="+ e.latLng.lat() + "&lng=" + e.latLng.lng() +"&callback=?", function(e){
			//console.dir(e.areas);
			//$("#res").html("JSONデータ：<span>"+json.searchengine[1].name+"　"+json.searchengine[1].url+"</span>");
			
			//マップから情報ウィンドウとエリアを非表示にしてオブジェクトを破棄
			{% if areas %}
			{% for area_points in areas %}
			// ポリゴンを削除
			//polygon{{ area_points.key.id }}.setMap(null);
			//polygon{{ area_points.key.id }} = null;
			if (polygon_areas) {
				for (var i in polygon_areas) {
					var t_p = polygon_areas[i];
					t_p.setMap(null);
					t_p = null;
				}
			}
			//エリアの情報ウィンドウを削除
			infoWindow{{ area_points.key.id }} = null;
			
			//イベントリスナも削除。でもこれはNGみたいでエラーが戻るのでコメント。
			//google.maps.event.clearListeners(polygon{{ area_points.key.id }}, 'click');

			{% endfor %}
			{% endif %}
			
			////受信したデータからポリゴン作成。
			for(var j=0; j<e.areas.length; j++){
				//t_area_points = e.areas[j].area;
				eval("var area_points" + e.areas[j].id + " = [];");
				var t_geo_latlng;
				//console.log(e.areas[j].area.length);
				for(var i=0; i < e.areas[j].area.length; i++){
					t_geo_latlng = new google.maps.LatLng(e.areas[j].area[i].lat,e.areas[j].area[i].lng);
					eval("area_points" + e.areas[j].id +".push(t_geo_latlng);");
					//area_points{{ area_points.key.id }}.push(t_geo_latlng);
				}
				//console.log("area_points" + e.areas[j].id);
				//console.dir(eval("area_points" + e.areas[j].id));
				
				//ポリゴンの中心点を求める。
				var t_lat = 0;
				var t_lng = 0;
				for(var i=0; i < e.areas[j].area.length; i++){
					t_lat += e.areas[j].area[i].lat;
					t_lng += e.areas[j].area[i].lng;
				}
				var ave_lat = t_lat / e.areas[j].area.length;
				var ave_lng = t_lng / e.areas[j].area.length;
				eval('polygon_center' + e.areas[j].id + ' = new google.maps.LatLng(ave_lat,ave_lng);');
				// ポリゴンのオプションを設定
				//var polygonOptions{{ area_points.key.id }} = {
				eval('var polygonOptions' + e.areas[j].id + ' = {path:area_points' + e.areas[j].id + ',strokeWeight: 2,strokeColor: "#ff0000",strokeOpacity: 0.5,fillColor: "#ff0000",fillOpacity: 0.2};');
				
				//console.dir(eval("polygonOptions" + e.areas[j].id));
				// ポリゴンを設定
				//polygon{{ area_points.key.id }} = new google.maps.Polygon(polygonOptions{{ area_points.key.id }});
				eval("polygon" + e.areas[j].id + " = new google.maps.Polygon(polygonOptions" + e.areas[j].id + ");");
				//polygon{{ area_points.key.id }}.setMap(mapObj);
				eval("polygon" + e.areas[j].id + ".setMap(mapObj);");
				eval('polygon_areas.push(polygon' + e.areas[j].id + ');');
				
				//エリアの情報ウィンドウを作成。2011/09/04 13:10
				//infowindow_html = '{% spaceless %}{{ area_points.comment|urlize|linebreaks }}{% endspaceless %}';
				eval('infowindow_html = "' + e.areas[j].comment + '<p>[' + e.areas[j].map_name_4view + ']</p>";');
				//infoWindow{{ area_points.key.id }} = new google.maps.InfoWindow({
				eval('infoWindow' + e.areas[j].id + '= new google.maps.InfoWindow({content: infowindow_html,disableAutoPan: false});');

				//google.maps.event.addListener(polygon{{ area_points.key.id }}, 'click', function(e){
				eval('google.maps.event.addListener(polygon' + e.areas[j].id + ', "click", function(e){mapObj.panTo(e.latLng);infoWindow' + e.areas[j].id + '.setPosition(e.latLng);' + 'infoWindow' + e.areas[j].id + '.open(mapObj);' + 'info_windows.push(infoWindow' + e.areas[j].id + ');});');

			}
			
			//マップの再描画
			google.maps.event.trigger(mapObj,'refresh');
			//右横のリストを再描画
			////受信したデータからポリゴン作成。
			$("#accordion > dt").remove();
			a_vertex = [];
			for(var k=0; k < e.sort_keys.length; k++){
				//console.log(e.sort_keys[k]);
				for(var j=0; j<e.areas.length; j++){
					if(e.areas[j].key == e.sort_keys[k]){
						//console.log("equal:" + e.areas[j].key);
						$("#accordion").append('<dt><a>' + e.areas[j].comment + '</a></dt>');
				
		//				t_area_points = e.areas[j].area;
		//				v_count = t_area_points.length;
		//				vec = new Array(v_count);
		//				for(var i = 0;i < v_count ;i++){
		//					vec[i] = {lat:e.areas[j].area[i].lat,lng:e.areas[j].area[i].lng};
		//				}
						//a_vertex.push(vec);
						a_vertex.push(e.areas[j].area);
						//$("#accordion > dt > a:eq(" +  j + ")").attr('href','javascript:unsetWindows();javascript:google.maps.event.trigger(polygon' + e.areas[j].id + ',"click",{latLng:polygon_center' + e.areas[j].id + '});getDistance(a_vertex[' +  j + ']);');
						$("#accordion > dt > a:eq(" +  k + ")").attr('href','javascript:unsetWindows();javascript:google.maps.event.trigger(polygon' + e.areas[j].id + ',"click",{latLng:polygon_center' + e.areas[j].id + '});getDistance(a_vertex[' +  k + ']);');
						break;
					}
				}
			}
		});
	});
});

function closeWindows(){
	if (info_windows) {
		for (var i in info_windows) {
			info_windows[i].close();
		}
	}
}

function unsetWindows(){
	if (info_windows) {
		closeWindows();
		info_windows.length = 0;
	}
}

function openInfoWindowFromSubs(p_id,p_center){
	google.maps.event.trigger(eval(p_id), 'click',{latLng:eval(p_center)});
}

function openInfoWindowFromDialog(p_id,p_center){
	unsetWindows();
	openInfoWindowFromSubs(p_id, p_center);
}

$(function(){
     $(".open").click(function(){
      $("#slideBox").slideToggle("slow");
     });
});
$(function() {
   $('#accordion dd').hide();
   $('#accordion dt a').click(function(){
       $('#accordion dd').slideUp();
       $(this).parent().next().slideDown();
       //イベントキャプチャリングする場合はtrue,イベントバブリングならfalse。
       return true;
   });
});

jQuery(function ($) {
	//マップ枚数分のイベントを登録。
	{% for map_name in map_names %}
	{% if each_maps %}
	{% for each_map in each_maps.items %}
	{% ifequal each_map.0 map_name.name %}
	$('#basic-modal_{{ map_name.name }}').click(function (e) {
		$('#basic-modal-content_{{ map_name.name }}').modal();
		return false;
	});
	{% endifequal %}
	{% endfor %}
	{% endif %}
	{% endfor %}
});

function getClosestPolygon(v_count,vertex,d_point){
//vertex:頂点の配列。
//d_point:判定対象の点。{x:mouseX,y:mouseY}をセット。
	var vec = new Array(v_count);
	//判定対象の点を原点として各頂点を移動した場合の配列を作成。
	for(var i = 0;i < v_count;i++){
		vec[i] = new point( vertex[i].lat - d_point.lat, vertex[i].lng - d_point.lng );
	}
	var closest_length = Number.MAX_VALUE;
	var closest_point = 0;
	var point_length = 0;
	for( var i = 0;i < v_count;i++ ){
		point_length = Math.sqrt( vec[i].lat * vec[i].lat + vec[i].lng * vec[i].lng );
		//console.log(i + ":" + point_length);
		if(point_length < closest_length){
			closest_length = point_length;
			closest_point = i;
		}
	}
	return {'p':closest_point, 'length':closest_length};
}

function getDistance(t_area_points){
	closest_value = Number.MAX_VALUE;
	//dest_point = new point(latlng.lat,latlng.lng);
	dest_point = new point(markerObj.getPosition().lat(),markerObj.getPosition().lng());
		
	v_count = t_area_points.length;
	//console.dir(dest_point);
	//現在位置から一番近いエリアを検索してルート表示。
	closest_res = getClosestPolygon(v_count,t_area_points,dest_point);
	
	//console.dir(closest_res);
	
	dest_point.lat = t_area_points[closest_res.p].lat;
	dest_point.lng = t_area_points[closest_res.p].lng;
	
	//ルート検索
	
	var directionsRendererOptions = {
	//	suppressMarkers: true
		preserveViewport: true
	}
	
	directionsRenderer = new google.maps.DirectionsRenderer(directionsRendererOptions);
	
	if(a_directions){
		for (var j in a_directions) {
			//マップに表示されないだけで、オブジェクトは残ってる。
			a_directions[j].setMap(null);  
		}
		//オブジェクトを解放する場合。
		a_directions.length = 0;
	}
	directionsRenderer.setMap(mapObj);
	a_directions.push(directionsRenderer);
	
	$("#directionsPanel").html("");
	//directionsRenderer.setPanel(document.getElementById("directionsPanel"));
	var dest_p = new google.maps.LatLng(dest_point.lat,dest_point.lng);
	// 開始地点と終了地点、ルーティングの種類の設定
	var request = {
		origin: markerObj.position,
		destination: dest_p,
		optimizeWaypoints: true,
		unitSystem: google.maps.DirectionsUnitSystem.METRIC,
		travelMode: google.maps.DirectionsTravelMode.WALKING,
		region: "JP"
	};
	// ルート検索を行う
	directionsService = new google.maps.DirectionsService();
	directionsService.route(request, function(result, status){
		if (status == google.maps.DirectionsStatus.OK) {
			directionsRenderer.setDirections(result);
			//console.dir(result);
			//console.dir(result.routes[0].legs[0].duration);
			
			//結果のみの場合。
			var t_str = result.routes[0].legs[0].duration.value + " m";
			t_str += "（約 " + result.routes[0].legs[0].duration.text + "）";
			$("#directionsPanel").html(t_str);
		}
	});
	//
}
</script>
<style type="text/css">
#gmap
{
	margin-bottom: 5px;
}
#lat, #lng
{
	font-size: 15px;
	/*padding:0px 12px;*/
}
#accordion{
	border: 1px #ccc solid;
	border-top:none;
	width:250px;
}
#accordion dt{
	background: #ddd;
	padding: 3px;
	border-top: 1px #ccc solid;
	}
	#accordion dt a{color: #000; text-decoration:none;display:block;}
#accordion dd{margin: 3px; text-align:left;}

#list a{
	text-decoration:none;
	color:#cccccc;
}

#menu{
	font-size: 14px;
	margin-right:0;
	overflow: auto;
}
#marker_info{
	font-size: 14px;
	display:none;
}
#information{
	font-size: 14px;
}

#directionsPanel{
	font-size: 14px;
	color:#0000ff;
	background-color:#ffffff;
	padding: 3px;
/*	
	float:right;
	width:24%;
	heigh:50%;
*/
}
#footer{
	font-size: 12px;
}
div.box {
	overflow: auto;
}
</style>
<link type='text/css' href='/css/basic.css' rel='stylesheet' media='screen' />
</head>
<body>
<div class="box">
<div id="gmap" style="float:left; width: 75%; height: 95%; border: 1px solid Gray;"></div>

<div id="menu" style="float:right;width:24%;heigh:100%">
<h3>マーカーに近いエリア10箇所</h3>
<dl id="accordion">
{% if areas %}
{% for sort_key in sort_keys %}
	{% for area in areas %}
	{% ifequal area.key sort_key %}
	<dt><a href="javascript:unsetWindows();javascript:google.maps.event.trigger(polygon{{ area.key.id }}, 'click',{latLng:polygon_center{{ area.key.id }}});getDistance({{ area.area }});">{% spaceless %}{{ area.comment|safe|linebreaks|striptags }}{% endspaceless %}</a></dt>
	{% endifequal %}
	{% endfor %}
{% endfor %}
{% endif %}
<!--
<dd>
{% comment %}
{% if areas %}
{% for area in areas %}
<div><a style="text-decoration:none;color:#888888;" href="javascript:unsetWindows();javascript:google.maps.event.trigger(polygon{{ area.key.id }}, 'click',{latLng:polygon_center{{ area.key.id }}});">{% spaceless %}{{ area.comment|safe|linebreaks|striptags }}{% endspaceless %}</a></div>
{% endfor %}
{% endif %}
{% endcomment %}
</dd>
-->
</dl>

<div id="directionsPanel"></div>
</div>

<!-- modal window end -->
<div id="information" style="float:left;width: 75%; height:6%;">
<hr />
<div id="footer">
<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">InsidePolygon</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.masanoriyono.net" property="cc:attributionName" rel="cc:attributionURL">MasanoriYono</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.1/jp/">Creative Commons 表示 - 継承 2.1 日本 License</a>.
</div>
</div>

</div><!-- end div.box -->
</body>
</html>