<html>
<head>
<title>
{% if map_names %}
	{% if selected_map %}
		{% for map_name in map_names %}
			{% ifequal map_name.name selected_map %}
				{% if map_name.map_name_4view %}
					ユーザー地図　[{{ map_name.map_name_4view }}]
				{% else %}
					ユーザー地図
				{% endif %}
			{% endifequal %}
		{% endfor %}
	{% else %}
		ユーザー地図
	{% endif %}
{% endif %}
（β版）</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="/js/inside_polygon.js"></script>
<script type="text/javascript">
function $(id){
	return document.getElementById(id);
}
function zero_pad(v){
	var rel = "00" + v;
	return rel.slice(-2);
}
var trackerId = 0;
var geocoder;
var theUser = {};
var testMarker = {};
var map = {};
var opts = {};
var latLng;
var testMarker_latlng;
var switch_btn_label_tracking="GPS Start";
var switch_btn_label_not_tracking="GPS Stop";
var gps;
var b_info=[];

//closest point 2011/09/09 16:40
//現在位置から一番近いエリアを検索してルート表示。
var directionsRenderer;
var directionsService
var a_directions = []; // ルート保存配列 
var closest_res;
var closest_value;
var dest_point;

//GPS停止前のポイント。2011/09/12 17:28
var last_latlng = 0;

/*
<!--
GPS開始は起動時、ボタンを押した時。
停止はウィンドウを開いた時、ボタンを押した時。
2011/09/06 07:54
ウィンドウは一度エリア内に入ったら、外に出ない限りは表示しないようにしてみた。
2011/09/12 12:25
3GとWifiで挙動が違うような気がする。情報ウィンドウを出すと、その後の動きが鈍いのと
ウィンドウと閉じる動作がマウスポインタと違ってスマートフォンだと難しい。
なので、ボタンを用意するか、表示しないようにしてテスト。
-->
*/
google.maps.event.addDomListener(window, 'load', function(){
	geocoder = new google.maps.Geocoder();
	if (navigator.geolocation){
		gps = navigator.geolocation;
		gps.getCurrentPosition(function(pos){
			latLng = new google.maps.LatLng(pos.coords.latitude,pos.coords.longitude);
			//一度目はキャッシュとか大雑把な情報なので読み捨て、という事は可能なんだろうか？
			//latLng = null;
			//latLng = new google.maps.LatLng(pos.coords.latitude,pos.coords.longitude);
			//あまり意味は無かった。
			
			opts = {
				zoom:17,
				center:latLng,
				mapTypeId:google.maps.MapTypeId.ROADMAP
			};
			map = new google.maps.Map($("map_canvas"), opts);
			
			theUser = new google.maps.Marker({
				position: latLng,
				map: map,
				title: "現在位置"
			});
			//ここで現在位置を確認始める方が有効に思う。
			startTracking();
				
			
			{% if areas %}
			{% for area_points in areas %}
			// 作成するポリゴン外枠座標の配列 
			t_area_points = {{ area_points.area }};
			var area_points{{ area_points.key.id }} = [];
			var t_geo_latlng;
			for(var i=0; i<t_area_points.length; i++){
				t_geo_latlng = new google.maps.LatLng(t_area_points[i].lat,t_area_points[i].lng);
				area_points{{ area_points.key.id }}.push(t_geo_latlng);
			}
			// ポリゴンのオプションを設定 
			var polygonOptions{{ area_points.key.id }} = {
				path: area_points{{ area_points.key.id }},
				strokeWeight: 2,
				strokeColor: "#ff0000",
				strokeOpacity: 0.5,
				fillColor: "#ff0000",
				fillOpacity: 0.2
			};
			// ポリゴンを設定
			var polygon{{ area_points.key.id }} = new google.maps.Polygon(polygonOptions{{ area_points.key.id }});
			polygon{{ area_points.key.id }}.setMap(map);
			
			//エリアの情報ウィンドウを作成。2011/09/04 13:10
			infowindow_html = '{% spaceless %}{{ area_points.comment|safe|urlize|linebreaks }}{% endspaceless %}';
			//infowindow_html += '<form action="/send" method="get"><input type="hidden" name="key" value="{{ area_points.key.id }}"><input type="hidden" name="referer" value="2"><input type="hidden" name="map_name" value="{{ selected_map }}"><input type="submit" value="テストメール"></form>';
			//infowindow_html += '<p><input type="button" value="閉じる" onclick=""></p>';
			infoWindow{{ area_points.key.id }} = new google.maps.InfoWindow({
				content:infowindow_html,
				//情報ウィンドウを中心にパンする処理はスマホには厳しい様子。
				//継続して動作する事がめずらしい。8割強は強制終了のダイアログが出てくる。
				//なので、この動作を止めてみることにする。
				//javascriptとはいえスマホには描画のリフレッシュはつらいみたい。2011/09/12 14:05
				disableAutoPan:true
			});
			
			google.maps.event.addListener(polygon{{ area_points.key.id }}, 'click', function(e){
//				// Html文字列を作成
//				var html = '{% spaceless %}{{ area_points.comment|urlize|linebreaks }}{% endspaceless %}';
//				// info Windowを作成
//				var infoWindow{{ area_points.key.id }} = new google.maps.InfoWindow();
//				infoWindow{{ area_points.key.id }}.setContent(html);
//				infoWindow{{ area_points.key.id }}.setPosition(e.latLng);
//				infoWindow{{ area_points.key.id }}.open(map);
//				//console.dir(e);
			});
			
			b_info[{{ area_points.key.id }}] = false;
			
			//情報ウィンドウを閉じるとトラッキング再開。2011/09/05 19:15
			google.maps.event.addListener(infoWindow{{ area_points.key.id }}, 'closeclick', function(e){
				//トラッキング開始。
				//startTracking();
				
				//ボタンラベルを停止に変更。2011/09/06 07:01
				//$("switch_btn").value = switch_btn_label_not_tracking;
				//$("switch_btn").className = 'stop_btn';
				//ウィンドウを開いたフラグをたてる。
				b_info[{{ area_points.key.id }}] = true;
			});
			
			{% endfor %}
			{% else %}
			<!-- データはありません。-->
			{% endif %}
			
//			//ドラッグできるテストマーカーで範囲内に入った時のイベントを考えてみる。
//			testMarker_latlng = new google.maps.LatLng(34.974331, 138.38911);
//			testMarker = new google.maps.Marker({
//				position: testMarker_latlng,
//				map: map,
//				draggable: true,
//				title: "テストマーカー"
//			});
			//この括弧の外だとイベントが取れない。2011/08/25 11:09
			// マップクリックイベントを追加
			google.maps.event.addListener(map, 'click', function(e){
				// ポジションを変更
				//testMarker.position = e.latLng;
				// マーカーをセット
				//testMarker.setMap(map);
				//$("lat_lng").innerHTML = e.latLng.lat()+ "," + e.latLng.lng();
			});
//			// マーカードラッグ中のイベントを追加
//			google.maps.event.addListener(testMarker, 'drag', function(e){
//				$("lat_lng").innerHTML = e.latLng.lat()+ "," + e.latLng.lng();
//			});
//			
//			google.maps.event.addListener(testMarker, 'dragend', function(e){
//				var dragend_latLng = new google.maps.LatLng(e.latLng.lat(),e.latLng.lng());
//				geocoder.geocode({'latLng': dragend_latLng}, function(results, status) {
//					if (status == google.maps.GeocoderStatus.OK) {
//						if (results[1]) {
//							var output_str = results[1].formatted_address;
//							$("lat_lng").innerHTML += output_str;
//						}
//					}
//				});
//				
//				var output_str ="";
//				var v_count;
//				
//				{% if areas %}
//				{% for area_points in areas %}
//				
//				t_area_points = {{ area_points.area }};
//				v_count = t_area_points.length;
//				var vec = new Array(v_count);
//				//判定対象の点の配列を作成。
//				for(var i = 0;i < v_count ;i++){
//					vec[i] = {lat:t_area_points[i].lat,lng:t_area_points[i].lng};
//				}
//				if(is_InsidePolygon(v_count, vec, {lat:e.latLng.lat(),lng:e.latLng.lng()})){
//					//テストマーカーはテスト用なのでいずれ非表示に。
//					
//					//トラッキング停止。2011/09/05 19:17
//					stopTracking();
//					//ボタンラベルを開始に変更。2011/09/06 07:01
//					$("switch_btn").value = switch_btn_label_tracking;
//					$("switch_btn").className = 'start_btn';
//					
//					output_str += "　<font color=red>範囲内です。</font>";
//					
//					//情報ウィンドウの表示。2011/09/04 13:09
//					infoWindow{{ area_points.key.id }}.open(map,testMarker);
//					
//				}
////				//API接続。
////				dojo.io.script.get({
////					url: "http://inside-polygon.appspot.com/",
////					timeout: 3000,
////					callbackParamName: "callback",
////					content: {
////						args0:v_count, //ポリゴンの配列要素の数 JSON形式
////						args1:dojo.toJson(t_area_points), //ポリゴンの配列 JSON形式
////						args2:dojo.toJson({lat:e.latLng.lat(),lng:e.latLng.lng()}) //マーカーの緯度経度
////					},
////					//handleAs: "json",
////					load: function(response){
////						// {result: {"judge":true,"radian":6.2831853071796}}
////						// or
////						// {result: {"judge":false,"radian":4.2812975387108e-15}}
////						//var res = dojo.fromJson(response);
////						console.log(response.result.judge);// true or false
////						if(response.result.judge){
////							output_str += "　<font color=red>範囲内です。</font>";
////							lat_lng.innerHTML += output_str;
////						}
////						
////					}
////				});
//				
//				{% endfor %}
//				$("lat_lng").innerHTML += output_str;
//				{% endif %}
//			});
		},
		function(error){
			$("location").innerHTML = "[getCurrentPosition]エラー："+ error.message;
		},{enableHighAccuracy:true, maximumAge:1, timeout:10000});//{maximumAge:Infinity, timeout:10000});
		//トラッキング開始。
		//startTracking();
		
		//起動時にはボタンラベルは停止。
		$("switch_btn").value = switch_btn_label_not_tracking;
		$("switch_btn").className = 'stop_btn';
		//ルート検索も押せない状態。
		$("search_btn").disabled  = true;
		$("delete_route_btn").disabled  = true;
		
		
		//ブラウザの判定。
		//detectBrowser();
	}
});
	
function showLocation(pos){
	latLng = new google.maps.LatLng(pos.coords.latitude,pos.coords.longitude);
	if (geocoder) {
		geocoder.geocode({'latLng': latLng}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				if (results[1]) {
					console.log("show location.");
					//console.dir(results[1]);
					
					var time = pos.timestamp;
					var pos_D       = new Date(time);
					var pos_Year    = pos_D.getFullYear();
					var pos_Month   = zero_pad(pos_D.getMonth() + 1);
					var pos_Date    = zero_pad(pos_D.getDate());
					var pos_Hours   = zero_pad(pos_D.getHours());
					var pos_Minutes = zero_pad(pos_D.getMinutes());
					var pos_Seconds = zero_pad(pos_D.getSeconds());
					
					var pos_Date = pos_Year + "-" + pos_Month + "-" + pos_Date + " "+ pos_Hours + ":" + pos_Minutes + ":" + pos_Seconds;
			
					var output_str = results[1].formatted_address + " [latitude:" + latLng.lat() +" longitude:"+ latLng.lng() +"] (GPS timestamp:" + pos_Date + ")";
					
					//closest point
					//現在位置から一番近いエリアを検索してルート表示。
					closest_value = Number.MAX_VALUE;
					dest_point = new point(0,0);
					////
					
					{% if areas %}
					{% for area_points in areas %}
					
					t_area_points = {{ area_points.area }};
					v_count = t_area_points.length;
					var vec = new Array(v_count);
					//判定対象の点の配列を作成。
					for(var i = 0;i < v_count ;i++){
						vec[i] = {lat:t_area_points[i].lat,lng:t_area_points[i].lng};
					}
					if(is_InsidePolygon(v_count, vec, {lat:latLng.lat(),lng:latLng.lng()})){
						//エリア内に入った事がない状態であれば停止。
						if(!b_info[{{ area_points.key.id }}]){
							//トラッキング停止。2011/09/05 19:17
							stopTracking();
							//ボタンラベルを開始に変更。2011/09/06 07:01
							$("switch_btn").value = switch_btn_label_tracking;
							$("switch_btn").className = 'start_btn';
							
							output_str += "　<font color=red>範囲内です。</font>";
							//情報ウィンドウの表示。2011/09/04 13:09
							infowindow_html = infoWindow{{ area_points.key.id }}.getContent();
							match_pattern = /<form/;
							r = infowindow_html.match(match_pattern);
							if(!r){
								infowindow_html += '<form action="/send" method="get"><input type="hidden" name="key" value="{{ area_points.key.id }}"><input type="hidden" name="referer" value="2"><input type="hidden" name="map_name" value="{{ selected_map }}"><input type=hidden name=lat value=' + latLng.lat() + '><input type=hidden name=lng value=' + latLng.lng() + '><input type="submit" value="テストメール"></form>';
							}
							infoWindow{{ area_points.key.id }}.setContent(infowindow_html);
							infoWindow{{ area_points.key.id }}.open(map,theUser);
						}else{
						//表示ウィンドウが開いたフラグがたっている状態
						// = 一度でもエリア内に入った事があり、まだエリア外に出たGPS情報を受信していない状態では停止させずに
						//エリア外に出るまでは停止操作を無視する。
						}
					}else{
						if(b_info[{{ area_points.key.id }}]){
							b_info[{{ area_points.key.id }}] = false;
						}
					}
					//API接続。
//					dojo.io.script.get({
//						url: "http://inside-polygon.appspot.com/",
//						timeout: 3000,
//						callbackParamName: "callback",
//						content: {
//							args0:v_count, //ポリゴンの配列要素の数 JSON形式
//							args1:dojo.toJson(t_area_points), //ポリゴンの配列 JSON形式
//							args2:dojo.toJson({lat:latLng.lat(),lng:latLng.lng()}) //マーカーの緯度経度
//						},
//						//handleAs: "json",
//						load: function(response){
//							// {result: {"judge":true,"radian":6.2831853071796}}
//							// or
//							// {result: {"judge":false,"radian":4.2812975387108e-15}}
//							//var res = dojo.fromJson(response);
//							console.log(response.result.judge);// true or false
//							if(response.result.judge){
//								$("location").innerHTML += "　<font color=red>範囲内です。</font>";
//							}
//							
//						}
//					});
					
					//現在位置から一番近いエリアを検索してルート表示。
					closest_res = getClosestPolygon(v_count,t_area_points,{lat:latLng.lat(),lng:latLng.lng()});
					//戻ってきた値を比較して一番近いところであれば地点情報を更新。
					if(closest_res.length < closest_value){
						dest_point.lat = t_area_points[closest_res.p].lat;
						dest_point.lng = t_area_points[closest_res.p].lng;
						closest_value = closest_res.length;
					}
					////
					{% endfor %}
					$("location").innerHTML = output_str;
					{% endif %}
					
				}
			}
		});
	}
}

function stopTracking(){
	if (trackerId){
		//last_latlng = map.getCenter();
		navigator.geolocation.clearWatch(trackerId);
		trackerId = 0;
	}
}

function startTracking(){
	if(!trackerId){
		trackerId = gps.watchPosition(function(pos){
			/*Android3G環境だと初回に大雑把な情報、2回目にGPSを使って精度を高めた情報を返してくるので
			範囲内かどうかの判定を行う場合は、1回目ですでにエリア外に出た事になり2回目でエリア内に戻ってきた
			という判定を延々と繰り返してエリア外に出ても情報ウィンドウを何度も閉じる操作をするハメになる。
			*/
			//var latLngと宣言してた。globalである必要があるように思う。
			/*
			console.log(typeof(last_latlng));
			if(typeof(last_latlng) != "number"){
				map.setCenter(last_latlng);
				last_latlng = 0;
			}else{
				latLng = new google.maps.LatLng(pos.coords.latitude,pos.coords.longitude);
				map.setCenter(latLng);
			}
			*/
			latLng = new google.maps.LatLng(pos.coords.latitude,pos.coords.longitude);
			if(pos.coords.accuracy < 70){
				//map.setCenter(latLng);
				map.panTo(latLng);
				theUser.setPosition(latLng);
				showLocation(pos);
				if(typeof(dest_point) != 'undefined'){
					$("search_btn").disabled  = false;
					$("delete_route_btn").disabled  = false;
				}
			}
			/*
			setTimeout( function() {
			
			}, 5000);
			*/
		},
		function(error){
			if(error.code != 0){
				$("location").innerHTML = "[watchPosition]エラー：" + error.code + ":" + error.message;
			}
		},{enableHighAccuracy:true, maximumAge:1, timeout:10000});
		console.log("startTracking.");
	}else{
		console.log("trackerId is already exists.");
		return;
	}
}

function switch_btn_click(){
	//GPS起動中の表示ラベル
	if($("switch_btn").value == switch_btn_label_not_tracking){
		/*
		表示ウィンドウが開いたフラグがたっている状態 = 一度でもエリア内に入った事があり、まだエリア外に出たGPS情報を受信していない状態
		ではトラッキングを停止させずにエリア外に出たGPS情報を受信するまではまでは停止操作を無視する。
		そうでないと、情報ウィンドウやイベントがエリア外に出るまで起こり続けて鬱陶しい。
		ただし、今までb_infoという変数ひとつで判断していたので、複数のエリアがある場合に出入りが無かったエリアで
		この変数フラグを書き換えられていた可能性がある。
		なので、エリア数分の配列を用意して、入ったエリアがGPS情報を監視してエリア外に出た情報を得たらフラグを変えるようにする。
		エリア数分の配列を全部チェックしてすべてのエリアから出た、という情報を得た時点でGPSの停止操作を受け入れるようにする。
		*/
		var b_info_all = false;
		//for(var i=0; i< b_info.length; i++){
		for(var i in b_info){
			if(b_info[i]){
				b_info_all = true;
				break;
			}
		}
		
		//どこかのエリアに入って、まだエリア内にいる、もしくはエリアから出たことをGPSから取得できていない状態。
		if(b_info_all){
			
		//すべてのエリア内に入った事がない状態、もしくは一度入ったけれどエリア外に出た状態あれば停止。
		}else{
			stopTracking();
			
			//ボタンラベルを開始に変更。2011/09/06 07:01
			$("switch_btn").value = switch_btn_label_tracking;
			$("switch_btn").className = 'start_btn';

		}
		
	//GPS停止中の表示ラベル
	}else{
		startTracking();
		//ボタンラベルを停止に変更。2011/09/06 07:01
		$("switch_btn").value = switch_btn_label_not_tracking;
		$("switch_btn").className = 'stop_btn';
	}
}
function detectBrowser() {
	var useragent = navigator.userAgent;
	var mapdiv = document.getElementById("map_canvas");
	//iPhoneまたはアンドロイドの場合
	if (useragent.indexOf('iPhone') != -1 || useragent.indexOf('Android') != -1 ) {
		mapdiv.style.width = '100%';
		mapdiv.style.height = '50%';
	} else {
		mapdiv.style.width = '1%';
		mapdiv.style.height = '1%';
	}
}
//定義済み。
//function point( lat, lng ){
//	this.lat = lat;
//	this.lng = lng;
//}
function getClosestPolygon(v_count,vertex,d_point){
//vertex:頂点の配列。
//d_point:判定対象の点。{x:mouseX,y:mouseY}をセット。
	var vec = new Array(v_count);
	//判定対象の点を原点として各頂点を移動した場合の配列を作成。
	for(var i = 0;i < v_count;i++){
		vec[i] = new point( vertex[i].lat - d_point.lat, vertex[i].lng - d_point.lng );
	}
	var closest_length = Number.MAX_VALUE;
	var closest_point = 0;
	var point_length = 0;
	for( var i = 0;i < v_count;i++ ){
		point_length = Math.sqrt( vec[i].lat * vec[i].lat + vec[i].lng * vec[i].lng );
		//console.log(i + ":" + point_length);
		if(point_length < closest_length){
			closest_length = point_length;
			closest_point = i;
		}
	}
	return {'p':closest_point, 'length':closest_length};
}
//スマートフォン用はオブジェクトの変数名を変更しているのでコピーしても動作しない。
function search_btn_click(){
	//navigation
	// ルートを表示するマップを設定 
	var directionsRendererOptions = {
	//	suppressMarkers: true
		preserveViewport: true
	}
	
	directionsRenderer = new google.maps.DirectionsRenderer(directionsRendererOptions);
	//console.log(directionsRenderer.getPanel());
	//directionsRenderer.setMap(null);
	//directionsRenderer.suppressPolylines = true;
	
	//すでにあるルートを削除
	if(a_directions){
		for (var j in a_directions) {
			//マップに表示されないだけで、オブジェクトは残ってる。
			a_directions[j].setMap(null);  
		}
		//オブジェクトを解放する場合。
		a_directions.length = 0;
	}
	directionsRenderer.setMap(map);
	a_directions.push(directionsRenderer);
	//途中経路を表示する場合。
	$("directionsPanel").innerHTML = "";
	
	//directionsRenderer.setPanel(document.getElementById("directionsPanel"));
	
	var dest_p = new google.maps.LatLng(dest_point.lat,dest_point.lng);
	// 開始地点と終了地点、ルーティングの種類の設定
	var request = {
		origin: theUser.position,
		destination: dest_p,
		optimizeWaypoints: true,
		unitSystem: google.maps.DirectionsUnitSystem.METRIC,
		travelMode: google.maps.DirectionsTravelMode.WALKING,
		region: "JP"
	};
	// ルート検索を行う
	directionsService = new google.maps.DirectionsService();
	directionsService.route(request, function(result, status){
		if (status == google.maps.DirectionsStatus.OK) {
			directionsRenderer.setDirections(result);
			//console.dir(result);
			//console.dir(result.routes[0].legs[0].duration);
			var t_str = result.routes[0].legs[0].duration.value + " m";
			t_str += "（約 " + result.routes[0].legs[0].duration.text + "）";
			$("directionsPanel").innerHTML = t_str;
		}
	});
}

function delete_route_btn_click(){
	//navigation
	if(a_directions){
		for (var j in a_directions) {
			//マップに表示されないだけで、オブジェクトは残ってる。
			a_directions[j].setMap(null);  
		}
		//オブジェクトを解放する場合。
		a_directions.length = 0;
	}
	$("directionsPanel").innerHTML = "";
}
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17100173-10']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<style type="text/css">
#gmap
{
	margin-bottom: 5px;
}
#lat, #lng
{
	font-size: 15px;
	/*padding:0px 12px;*/
}
.stop_btn
{
	color:#ffffff;
	border-left:1px solid #ff0000;
	border-right:1px solid #ff0000;
	border-top:1px solid #ff0000;
	border-bottom:1px solid #ff0000;
	background-color:#ff0000;
}
.start_btn
{
	color:#ffffff;
	border-left:1px solid #389114;
	border-right:1px solid #389114;
	border-top:1px solid #389114;
	border-bottom:1px solid #389114;
	background-color:#389114;
}
.search_btn
{
	color:#ffffff;
	border-left:1px solid #0000CC;
	border-right:1px solid #0000CC;
	border-top:1px solid #0000CC;
	border-bottom:1px solid #0000CC;
	background-color:#0000CC;
}
.reset_btn
{
	color:#ffffff;
	border-left:1px solid #FF6633;
	border-right:1px solid #FF6633;
	border-top:1px solid #FF6633;
	border-bottom:1px solid #FF6633;
	background-color:#FF6633;
}
#marker_info{
	clear:both;
	/*display:none;*/
}
.msg{
	font-size: 14px;
}
#information{
	font-size: 14px;
}
#lat_lng{
	display:none;
}
#footer{
	font-size: 12px;
}
</style>
</head>
<body style="margin: 0px; padding: 0px;">
<div id="map_canvas" style="width: 100%; height: 85%; float: left; border: 1px solid black;"></div>
<div id="information">
<div style="float:left;"><input type="button" class="" id ="switch_btn" value="" onclick="switch_btn_click()" /></div>
<div style="float:left;"><input type="button" class="search_btn" id ="search_btn" value="route" onclick="search_btn_click()" /></div>
<div style="float:left;"><input type="button" class="reset_btn" id ="delete_route_btn" value="route hide" onclick="delete_route_btn_click()" /></div>
<div id="marker_info"><span class="msg">現在地：<span id="location"></span> <span id="directionsPanel"></span></span></div>
<div><span id="lat_lng"></span></div>
</div>
<hr />
<div id="footer">
<!--
<a rel="license" href="http://creativecommons.org/licenses/by-sa/2.1/jp/"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/2.1/jp/80x15.png" /></a>
-->
<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">InsidePolygon</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.masanoriyono.net" property="cc:attributionName" rel="cc:attributionURL">MasanoriYono</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.1/jp/">Creative Commons 表示 - 継承 2.1 日本 License</a>.
</div>
</body>
</html>